.contenedor__modal{
    width: 400px;
    height: 400px;
    background-color: rgb(57, 87, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* translate: -200px;
    opacity: 0;
    visibility: hidden;
    position: fixed; */
}

.movimiento__1{
    visibility: visible;
    transition-property: transform, opacity;
    transition-duration: 2s;
    opacity: 1;
    transform: translate(200px);
}

.movimiento__2{
    visibility: visible;
    transition-property: transform, opacity;
    transition-duration: 2s;
    transform: translate(0px);
    opacity: 0;
}